<%= form_with(model: @category) do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control mb-2', autofocus: true %>
  </div>
  <div class="d-flex justify-content-center">
    <%= form.submit 'Salvar', class: 'btn btn-secondary  mt-2' %>
  </div>
<% end %>
