<div class="container shadow p-2 mb-4 bg-body-tertiary rounded div-max-width">
  <h5 class="text-center">Editar Categoria</h5>
</div>

<div class="container div-max-width">
  <%= render 'form' %>
</div>
